{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", "jsx"]
            }
        ],
        "prettier/prettier": "error",
        "max-len": ["error", 80]
    },
    "env": {
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "../config/webpack-base.js"
            }
        },
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": false,
            "optionalDependencies": false,
            "peerDependencies": false
        }]
    }
}